<!-- Header -->
<header class="custom-header sticky-top">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <!-- Sección izquierda: Campo de búsqueda -->
            <div class="col-4">
                <input type="text" class="form-control search-input" placeholder="Buscar producto...">
            </div>
            <!-- Sección central: Nombre de la empresa -->
            <div class="col-4 text-center">
                <span class="company-name">Mi E-commerce</span>
            </div>
            <!-- Sección derecha: Enlaces de inicio de sesión, crear cuenta y carrito -->
            <div class="col-4 d-flex justify-content-end align-items-center">
                {% if not request.user.is_authenticated %}
                <a href="{% url 'account_login' %}" class="nav-link">Iniciar sesión</a>
                <a href="{% url 'account_signup' %}" class="nav-link">Crear cuenta</a>
                {% else %}
                {% if request.user.is_superuser %}
                <a href="{% url 'administracion:home' %}" class="nav-link">Administración</a>
                {% endif %}
                <a href="{% url 'perfil:perfil' %}" class="nav-link">Perfil</a>
                <div id="notify-carrito" class="position-relative">
                    {% if request.user.cliente.carrito.productos.count > 0 %}
                    <span id="carrito-items" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                        {{ request.user.cliente.carrito.productos.count }}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                    {% endif %}
                    <a href="{% url 'clientes:mi-carrito' %}" class="nav-link">Carrito</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>

