<!-- Mensajes -->
{% if messages %}
    {% for msj in messages %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            {% if msj.tags == 'success' %}
            <div class="toast-header text-bg-success">
                <div style="margin-right: 7px;">
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <strong class="me-auto">Éxito</strong>
                <!-- <small>11 mins ago</small> -->
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            {% elif msj.tgas == 'error' %}
            <div class="toast-header text-bg-danger">
                <div style="margin-right: 7px;">
                    <i class="fa-solid fa-circle-xmark"></i>
                </div>
                <strong class="me-auto">Error</strong>
                <!-- <small>11 mins ago</small> -->
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            {% else %}
            <div class="toast-header text-bg-info">
                <div style="margin-right: 7px;">
                    <i class="fa-solid fa-circle-info"></i>
                </div>
                <strong class="me-auto">Info</strong>
                <!-- <small>11 mins ago</small> -->
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            {% endif %}
            <div class="toast-body">
                {{ msj }}
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}

