<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="page-link" href="?{% if 'ref' in request.GET %}ref={{ request.GET.ref }}&{% endif %}{% if page_obj.has_previous %}page={{ page_obj.previous_page_number }}{% endif %}">Anterior</a>
        </li>
        {% for p in lista_paginas %}
            <li class="page-item {% if p == page_obj.number %} active {% endif %}"><a class="page-link" href="?{% if 'ref' in request.GET %}ref={{ request.GET.ref }}&{% endif %}page={{ p }}"">{{ p }}</a></li>
        {% endfor %}
        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
            <a class="page-link" href="?{% if 'ref' in request.GET %}ref={{ request.GET.ref }}&{% endif %}{% if page_obj.has_next %}page={{ page_obj.next_page_number }}{% endif %}">Siguiente</a>
        </li>
    </ul>
</nav>