{% extends 'layouts/a.html' %}

{% block hero %}
{% endblock %}

{% block content %}

{% include 'includes/tabs_ordenacion.html' %}

<div class="row">
    <!-- Columna izquierda: Filtros -->
    <div class="col-md-2">
        <h2 class="mb-4">Filtrar por</h2>
        <!-- Filtro por categoría -->
        <div class="mb-3">
            <p class="mb-4 collapse_button">
                <a data-bs-toggle="collapse" data-bs-target="#collapseCategory">
                    Categoría
                </a>
            </p>
            <div id="collapseCategory" class="collapse show">
                <ul class="list-unstyled">
                    {% for cat in categorias %}
                    <li><a href="{% url 'shop:tiendaProductos-tag' cat.slug %}" class="text-decoration-none text-secondary {% if cat_actual.slug == cat.slug %} cat_actual {% endif %}">{{ cat.nombre }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <hr class="bg-light">

        <!-- Filtro por precio -->
        <div class="mb-3">
            <p class="mb-4 collapse_button">
                <a data-bs-toggle="collapse" data-bs-target="#collapsePrice">
                    Precio
                </a>
            </p>

            <div id="collapsePrice" class="collapse show">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="price1">
                    <label class="form-check-label text-secondary" for="price1">Menos de $50</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="price2">
                    <label class="form-check-label text-secondary" for="price2">$50 - $100</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="price3">
                    <label class="form-check-label text-secondary" for="price3">Más de $100</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Columna derecha: Contenedor de productos -->
    <div class="col-md-10">
        <div class="row" id="product-container">
            {% include 'includes/producto.html' %}
        </div>
        <!-- Paginador -->
        {% if paginator.num_pages > 1 %}
        <div class="d-flex justify-content-center mt-4">
            {% include 'includes/paginador.html' %}
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}

