{% load static %}
{% load humanize %}
{% include 'includes/total_carrito.html' %}

<a  hx-swap-oob="true" href="{% url 'clientes:mi-carrito' %}" class="nav-link position-relative" id="notify-carrito">
    <i class="fas fa-shopping-cart fs-4"></i>
    {% if request.user.is_authenticated and request.user.cliente.carrito.productos.count > 0 %}
        <span id="carrito-items" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
            {{ request.user.cliente.carrito.productos.count }}
        </span>
    {% endif %}
</a>